<% include partials/header %>

<h1><%= writing.title %></h1>
<p><%= writing.type %></p>
<p><%- writing.body %></p>

<% writing.comments.forEach((comment) => { %>
  <p>
    <strong><%= comment.author %></strong> - <%= comment.text %></p>
<% }); %>
<% include partials/footer %>
